#page-map {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;

  aside {
    width: 440px;
    background: linear-gradient(329.54deg, #29B6D1 0%, #00C7C7 100%);
    padding: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
      font-size: 40px;
      font-weight: 800;
      line-height: 42px;
      margin-top: 64px;
    }

    p {
      line-height: 28px;
      margin-top: 24px;
    }

    footer {
      display: flex;
      flex-direction: column;
      line-height: 24px;

      strong {
        font-weight: 800;
      }
    }
  }

  .map-popup {
    .leaflet-popup-content-wrapper {
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 20px;
      box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    }

    .leaflet-popup-content {
      color: #0089a5;
      font-size: 18px;
      font-weight: bold;
      margin: 8px 12px;

      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        width: 40px;
        height: 40px;
        background-color: #15c3d6;
        box-shadow: 5px 5px 5px rgba(23, 142, 166, 0.16);
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    // .leaflet-popup-tip-container {  // é a setinha do balão
      // display: none;
    // }
  }

  .create-orphanage {
    position: absolute; 
    z-index: 900;
    right: 40px;
    bottom: 40px;
    width: 64px;
    height: 64px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #15c3d6;
    transition: background-color 0.2s;

    &:hover {
      background-color: #17d6eb;
    }
  }

  .leaftlet-container {
    z-index: 1;
  }
}
